.form {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		'userinfo'
		'username'
		'email'
		'password'
		'signedin';
	gap: 20px;
}
.userInfo {
	grid-area: userinfo;
	display: flex;
	align-items: center;
	gap: 20px;
}
.user {
	display: flex;
	flex-direction: column;
}
.inputForm {
	display: flex;
	flex-direction: column;
}
.inputForm input {
	max-width: 100%;
	width: 100%;
}
.email {
	grid-area: email;
}
.password {
	grid-area: password;
}
.signedin {
	grid-area: signedin;
}
.username {
	grid-area: username;
}
.submit {
	color: var(--white);
	padding: 13px 20px;
	background-color: var(--orange);
	border: none;
	border-radius: 50px;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
	cursor: pointer;
}
.disabled {
	display: none;
}
.error {
	display: inline-block;
	color: var(--orange);
}
.success {
	color: var(--green);
	text-align: center;
	font-size: 26px;
}
.link {
	cursor: pointer;
	color: var(--light-green);
	text-decoration: underline;
}
@media screen and (max-width: 640px) {
	.form {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.inputForm,
	.user,
	.user input,
	.userInfo {
		width: 100%;
	}
	.userInfo {
		flex-direction: column;
	}
}
