.icon {
	cursor: pointer;
	transition: all 0.2s;
}
.icon:hover rect {
	fill: var(--orange);
	fill-opacity: 1;
}
.icon:hover path {
	fill: var(--white);
}
.active rect {
	fill: var(--orange);
	fill-opacity: 1;
}
.active path {
	fill: var(--white);
}
