.card {
	display: grid;
	grid-template-columns: 295px;
	gap: 12px;
}
.defaultCard {
	padding: 14px;
	border: 1px solid #282828;
	background-color: #222222;
	border-radius: 15px;
}
.card:hover {
	background-color: #313131;
}
.cartProduct .link {
	display: grid;
	grid-template-columns: 224px 1fr auto;
	justify-items: left;
	align-items: flex-start;
	gap: 20px;
	grid-template-areas:
		'image title .'
		'. category .';
}
.cartProduct .image {
	grid-area: image;
}
.cartProduct .title {
	text-align: left;
	grid-area: title;
}
.cartProduct .category {
	grid-area: category;
}
.cartProduct .description {
	align-items: flex-start;
}
.cartProduct .remove svg {
	width: 48px;
	height: 48px;
}
.remove {
	cursor: pointer;
}
.remove:hover g {
	fill: var(--white);
}
.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	font-style: normal;
	font-weight: 700;
	font-size: 27px;
	line-height: 32px;
	text-align: center;
	color: var(--light-gray);
}
.title:hover {
	cursor: pointer;
	color: var(--orange);
}
.category {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: var(--orange);
}
.priceWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icons {
	display: flex;
	gap: 12px;
}
@media screen and (max-width: 464px) {
	.cartProduct .link {
		grid-template-columns: 123px 1fr auto;
		grid-template-areas:
			'image title .'
			'. category .';
	}
	.title {
		font-size: 16px;
		color: var(--light-gray);
	}
	.category {
		font-size: 14px;
	}
	.cartProduct .image {
		max-width: 124px;
		max-height: 136px;
	}
	.cartProduct .price {
		display: flex;
		gap: 5px;
		font-size: 16px;
	}
	.cartProduct .price span {
		font-size: 16px;
	}
}
