.icon {
	cursor: pointer;
	transition: all 0.2s;
}
.icon:hover rect {
	fill: var(--green);
}
.icon:hover path {
	fill: var(--white);
}
.added {
	width: 76px;
	height: 48px;
}
.button {
	background: none;
	border: none;
}
.disabled {
	display: none;
}
.active {
	display: block;
}
