.ProductPage {
	display: grid;
	grid-template-columns: auto 500px auto;
	grid-template-rows: 100px 1fr;
	grid-template-areas:
		'title .'
		'product cart';
	color: var(--white);
}
.description {
	margin-top: 10px;
	color: var(--orange);
}
.product {
	grid-area: product;
}
.cart {
	grid-area: cart;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.title {
	color: var(--white);
}
