.wrapper {
	max-width: 100%;
	height: 100%;
	margin: 40px 0 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: var(--light-gray);
}
.title {
	margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
	.wrapper {
		margin: 40px 10px 0;
	}
}
