.wrapper {
	height: 50vh;
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light-gray);
}
.loginPage {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}
.register {
	margin-bottom: 30px;
}
.link {
	color: var(--green);
}
