.Navbar {
	max-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--light-gray);
	font-size: 20px;
}
.list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style: none;
}
.logo svg {
	width: 300px;
	height: 200px;
}
.title {
	font-size: 32px;
	margin-bottom: 30px;
}
.category {
	display: flex;
	align-items: center;
	gap: 10px;
}
.category:hover {
	cursor: pointer;
	color: var(--orange);
}
.icon svg {
	width: 50px;
	height: 42px;
	fill: var(--white);
}
.account {
	margin-top: 50px;
	border-top: 2px solid var(--gray);
	max-width: 90%;
	padding-top: 20px;
}
@media screen and (max-width: 762px) {
	.Navbar {
		display: none;
	}
}
