.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: minmax(50px, 100px) 260px minmax(295px, 1200px) auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'. navbar header header'
		'. navbar main main'
		'footer footer footer footer';
	gap: 20px;
	background-color: var(--light-black);
	padding-top: 30px;
}
.burgermenu {
	position: fixed;
}
.burgegOppened {
	opacity: 50%;
}
.header {
	grid-area: header;
}
.navbar {
	grid-area: navbar;
}
.main {
	grid-area: main;
}
.footer {
	grid-area: footer;
}
@media screen and (max-width: 762px) {
	.wrapper {
		display: grid;
		grid-template-columns: minmax(5px, 100px) 1fr minmax(5px, 100px);
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			'. header .'
			'. main .'
			'. footer .';
	}
}
