.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.header {
	grid-area: header;
}
.navbar {
	grid-area: navbar;
}
.main {
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.footer {
	grid-area: footer;
}
