.products {
	/* display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center; */
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}
.cart {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
