.products {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	gap: 20px;
	justify-content: flex-start;
}
.cart {
	display: flex;
	max-width: 1360px;
	flex-direction: column;
	gap: 20px;
}
@media screen and (max-width: 1758px) {
	.cart {
		max-width: 1020px;
	}
}
@media screen and (max-width: 1414px) {
	.cart {
		max-width: 680px;
	}
}
@media screen and (max-width: 762px) {
	.products {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.cart {
		max-width: 100%;
	}
}
