.header {
	display: grid;
	max-width: calc(95% - 48px);
	grid-template-columns: 1fr 48px auto;
	grid-template-areas: 'input favorite bag .';
	justify-items: center;
	align-items: center;
	gap: 10px;
}
.input {
	grid-area: input;
	width: 100%;
}
.favorite {
	grid-area: favorite;
}
.bag {
	grid-area: bag;
}
@media screen and (max-width: 1758px) {
	.header {
		max-width: 1020px;
	}
}
@media screen and (max-width: 1414px) {
	.header {
		max-width: 680px;
	}
}
@media screen and (max-width: 1068px) {
	.header {
		max-width: 340px;
	}
}
@media screen and (max-width: 762px) {
	.header {
		max-width: 100%;
	}
}
